* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #78787a;
  background: #e5e5e5;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

hr {
  color: #c4c4c4;
  background-color: #c4c4c4;
  border: 0 none;
  height: 1px;
}

.container {
  max-width: 1074px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navbar {
  display: flex;
}

.navbar > li:first-child {
  margin-left: 175px;
}

.navbar > li {
  margin-right: 24px;
  font-weight: 500;
  color: #262626;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-search {
  margin-right: 39px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  background-color: transparent;
  background-image: url('search-icon.png');
  background-position: 232px 2px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  outline: none;
}

.profile svg {
  margin-right: 10px;
  cursor: pointer;
}

.breadcrumb {
  display: flex;
  margin: 0;
  margin-bottom: 48px;
}

.breadcrumb-item {
  font-weight: 500;
  color: #91a0b6;
}

.breadcrumb-item:after {
  padding: 0 17px;
  color: #ccc;
  content: '>';
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(4, 191, 148, 0.16);
  border-radius: 16px;
  margin-bottom: 48px;
}

.search-items {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.search-text {
  margin-left: 40px;
}

.search-text input {
  width: 522px;
  height: 56px;
  background: #ffffff;
  box-shadow: 0 0.470434px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 16px;
}

.search-text input::placeholder {
  color: #91a0b6;
}

.search-header {
  font-weight: 800;
  font-size: 32px;
  color: #04bf94;
  margin-bottom: 18px;
}

.search-temperature {
  font-weight: bold;
  font-size: 18px;
  color: #242424;
  margin-bottom: 18px;
}

.search-input {
  position: relative;
}

.search-input img {
  position: absolute;
  top: 18px;
  right: 145px;
}

.new-post img {
  margin-bottom: 16px;
}

.new-post__elem {
  display: flex;
  margin-bottom: 56px;
}

.new-post__article {
  margin-left: 32px;
}

.article-date {
  color: #adb8c8;
  margin-bottom: 8px;
}

.article-header {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #242424;
}

.new-post__article-header {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #242424;
}

.block-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #91a0b6;
  margin-bottom: 16px;
  margin-top: 16px;
}

.top-posts__body {
  display: flex;
}

.post {
  margin-right: 32px;
  margin-bottom: 56px;
}

.post img {
  margin-bottom: 16px;
}

.interesting-posts__body, .scroll-items {
  display: flex;
  flex-wrap: wrap;
}

.main-posts {
  margin-right: 0;
  width: calc((100% - 60px) / 3);
}

.main-posts:nth-child(3n-1) {
  margin-left: 30px;
  margin-right: 30px;
}

.adv {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #cfede6 7.49%, rgba(140, 222, 203, 0.832667) 100%);
  border-radius: 12px;
  margin-bottom: 56px;
}

.adv-text {
  margin-left: 40px;
}

.adv-text__header {
  font-weight: 600;
  font-size: 32px;
  color: #04bf94;
  margin-top: 27px;
  margin-bottom: 20px;
}

.adv-text__elem {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  margin-bottom: 24px;
}

.adv-text button {
  width: 156px;
  height: 40px;
  background: #04bf94;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.links a {
  margin-right: 24px;
}

.links a, .copy p {
  font-size: 14px;
  line-height: 20px;
  color: #91a0b6;
}

.link-border {
  border: 1px solid #91a0b6;
  padding-left: 24px;
  padding-right: 24px;
  border-top: none;
  border-bottom: none;
}

